<div class="card">
  <div class="card-header">
   <h3 class="card-title">
    My Tickets
   </h3>

  </div>
  <div class="card-table scrollable-x-auto">
   <table class="table">
    <thead>
     <tr>
      <th class="">
        Ticket
      </th>
      <th class="">
        Subject
      </th>
      <th >
        Status
       </th>
      <th >
        Priority
      </th>
      <th >
       Date
      </th>
      <th >
       Action
      </th>


     </tr>
    </thead>
    <tbody>

    </tbody>
   </table>
  </div>

 </div>
