<div class="page-wrapper">
  <!-- BEGIN PAGE HEADER -->
  <div class="page-header d-print-none">
    <div class="px-5">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">Template 1</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE HEADER -->
  <!-- BEGIN PAGE BODY -->
  <div class="page-body">
    <div class="px-5">
      <div class="card">
        <div class="row g-0">
          <div class="col-12 col-md-3 border-end">
            <div class="card-body sidebar roundbord dark [&.dark]:bg-coal-600 ">
              <aside class="" id="sidebar" style="min-height: 100vh;">

                <!-- [class.collapsed]="true" -->
                <div class="sidebar-header hidden lg:flex items-center relative justify-between px-3 lg:px-6 shrink-0"
                  id="sidebar_header">

                  <a class="hidden dark:block" href="/metronic/tailwind/demo1/">
                    <img class="default-logo min-h-[22px] max-w-none" style="height: 100px;width: 230px;"
                      src=".././assets2/img/logo2.png">
                  </a>

                </div>
                <div class="sidebar-content flex grow shrink-0 py-5 pe-2" id="sidebar_content">
                  <div class=" grow shrink-0 flex ps-2 lg:ps-5 pe-1 lg:pe-3" id="sidebar_scrollable">
                    <!-- Sidebar Menu -->
                    <div class="menu flex flex-col grow gap-0.5">
                      <div class="menu-item" *ngFor="let item of sidebarItems">
                        <ng-container *ngIf="getFirstKey(item) as key">

                          <!-- Header with submenu -->
                          <div *ngIf="hasSubmenu(item)">
                            <div class="menu-link d-flex justify-content-between {{cssProperty.menuDiv}}"
                              (click)="!isCollapsed(item)? toggleCollapse(item) : ''">
                              <span class="menu-icon w-[20px]">
                                <i class="ki-filled ki-element-11 text-lg fn18"></i>
                              </span>
                              <span class="menu-title {{cssProperty.menuTit}}">
                                {{ key }}
                              </span>
                              <div><i *ngIf="!isCollapsed(item)" class="ti ti-arrow-badge-down text-white fs-2"></i>
                                <i *ngIf="isCollapsed(item)" class="ti ti-arrow-badge-up text-white fs-2"></i>
                              </div>
                            </div>

                            <!-- Submenus draggable only if expanded -->
                            <div class="submenu ps-4 mt-2" *ngIf="isCollapsed(item)">
                              <div class="sub-item menu-link d-flex justify-content-between {{cssProperty.menuDiv}}"
                                *ngFor="let subKey of getSubItems(item)"
                                (dndMoved)="onDraggableMoved(getSubItemData(item, subKey))"
                                [dndDraggable]="getSubItemData(item, subKey)" [dndEffectAllowed]="'copyMove'"
                                (click)="!isCollapsed(item)? toggleCollapse(item) : ''">
                                <span class="menu-icon w-[20px]">
                                  <i class="ki-filled ki-element-11 text-lg fn18"></i>
                                </span>
                                <span class="menu-title {{cssProperty.menuTit}}">
                                  {{ subKey }}
                                </span>
                              </div>
                            </div>
                          </div>

                          <!-- No submenu, drag main -->
                          <div *ngIf="!hasSubmenu(item)" class="menu-link {{cssProperty.menuDiv}}"
                            (dndMoved)="onDraggableMoved(item)" [dndDraggable]="item"
                            [dndEffectAllowed]="'copyMove'">
                            <span class="menu-icon w-[20px]">
                              <i class="ki-filled ki-element-11 text-lg fn18"></i>
                            </span>
                            <span class="menu-title {{cssProperty.menuTit}}">
                              {{ key }}
                            </span>
                          </div>

                        </ng-container>
                      </div>
                    </div>


                    <!-- End of Sidebar Menu -->
                  </div>
                </div>

              </aside>
            </div>
          </div>
          <div class="col-12 col-md-9 d-flex flex-column">
            <div class="card-body">
              <h3 class="card-title">Edit Template</h3>
            </div>
            <div style="width: 65vw;height: 100vh; ">


              <div (dndDrop)="onDropItem($event)"
                style="width: 100%; height: 100vh;"
                (dndMoved)="onDraggableMoved($event)"  [dndEffectAllowed]="'copyMove'"
                 dndDropzone>

                <div [innerHTML]="tempServe.renderHtml(item)" data-bs-toggle="offcanvas" href="#offcanvasEnd" role="button" aria-controls="offcanvasEnd" (click)="editSection(item)" *ngFor="let item of design;let i= index ">
                </div>







  <!-- END PAGE BODY -->
  <!--  BEGIN FOOTER  -->

  <!--  END FOOTER  -->


<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasEnd" aria-labelledby="offcanvasEndLabel" aria-modal="true" role="dialog">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasEndLabel">End offcanvas</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body position-relative">
    <div class="nav flex-column nav-pills" role="tablist" *ngIf="editStyleStatus == 'navigation'">
      <a (click)="editStyleStatus = 'font' " class="nav-link text-start mw-100 p-3 active" id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="true">
        <div class="row align-items-center flex-fill">
          <div class="col-auto"><span class="avatar avatar-1" > </span></div>
          <div class="col text-body">
            <div>Font Style</div>
            <div class="text-secondary text-truncate w-100">Edit your font</div>
          </div>
        </div>
      </a>
      <a (click)="editStyleStatus = 'margin' " class="nav-link text-start mw-100 p-3" id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
        <div class="row align-items-center flex-fill">
          <div class="col-auto"><span class="avatar avatar-1" style="background-image: url(./static/avatars/052f.jpg)"> </span></div>
          <div class="col text-body">
            <div>Margin & padding</div>
            <div class="text-secondary text-truncate w-100">Edit your margin</div>
          </div>
        </div>
      </a>
      <a (click)="editStyleStatus = 'color' " class="nav-link text-start mw-100 p-3" id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
        <div class="row align-items-center flex-fill">
          <div class="col-auto"><span class="avatar avatar-1" style="background-image: url(./static/avatars/002m.jpg)"> </span></div>
          <div class="col text-body">
            <div>Edit color</div>
            <div class="text-secondary text-truncate w-100">
              Edit Color
            </div>
          </div>
        </div>
      </a>
      <!-- <a href="#chat-1" class="nav-link text-start mw-100 p-3" id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
        <div class="row align-items-center flex-fill">
          <div class="col-auto"><span class="avatar avatar-1" style="background-image: url(./static/avatars/003m.jpg)"> </span></div>
          <div class="col text-body">
            <div></div>
            <div class="text-secondary text-truncate w-100">Yes, I thought it was getting a bit cluttered.</div>
          </div>
        </div>
      </a> -->
      <!-- <a href="#chat-1" class="nav-link text-start mw-100 p-3" id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
        <div class="row align-items-center flex-fill">
          <div class="col-auto"><span class="avatar avatar-1" style="background-image: url(./static/avatars/000f.jpg)"> </span></div>
          <div class="col text-body">
            <div>Emmy Levet</div>
            <div class="text-secondary text-truncate w-100">
              The commit message is descriptive, too. Good job on mentioning the issue number it fixes.
            </div>
          </div>
        </div>
      </a> -->


    </div>

    <app-colors *ngIf="editStyleStatus == 'color'"></app-colors>
    <app-margin-padding  *ngIf="editStyleStatus == 'margin'"></app-margin-padding>
    <app-font-style [item]="editDesign" [editSty]="editStyleStatus" [design]="design" (back)="editStyleStatus = $event"  (changeEve)="this.design = $event" *ngIf="editStyleStatus == 'font'"></app-font-style>



    <div class="mt-3 position-absolute bottom-0">
      <button class="btn btn-primary" type="button" data-bs-dismiss="offcanvas">Save Style</button>
    </div>
  </div>
</div>

<a href="#" class="btn btn-floating btn-icon btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSettings">
 Back
</a>
<a href="#" class="btn btn-floating btn-icon btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSettings">
 Next
</a>
