<div class="container-fixed mt-4">
  <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
   <div class="flex flex-col justify-center gap-2">
    <h1 class="text-xl font-medium leading-none text-gray-900">
     Plans
    </h1>
    <div class="flex items-center gap-2 text-sm font-normal text-gray-700">
     Central Hub for Personal Customization
    </div>
   </div>
   <div class="flex items-center gap-2.5">
    <a class="btn btn-sm btn-light" href="#">
     View Billing
    </a>
   </div>
  </div>
 </div>

 <div class="container-fixed">
  <div class="grid gap-5 lg:gap-7.5">
   <div class="scrollable-x-auto pt-3 -mt-3">
    <table class="table table-fixed min-w-[1000px] table-border-b table-border-e table-rounded card-rounded [&amp;_tr:nth-of-type(2)>td]:table-border-t [&amp;_tr:nth-of-type(2)>td:first-child]:card-rounded-ts">
     <tbody><tr>
      <td class="!border-b-0 align-bottom !p-5 !pt-7.5 !pb-6">
       <label class="switch switch-sm">
        <input checked="" class="order-1" name="check" type="checkbox" value="1">
         <div class="switch-label order-2">
          <span class="text-gray-800 text-2sm font-semibold">
           Annual Billing
          </span>
         </div>

       </label>
      </td>
      <td class="!border-b-0 table-border-s table-border-t card-rounded-ts bg-light-active dark:bg-coal-100 !p-5 !pt-7.5 relative">
       <span class="absolute badge badge-sm badge-outline badge-success absolutes top-0 start-1/2 rtl:translate-x-1/2 -translate-x-1/2 -translate-y-1/2">
        Current Plan
       </span>
       <h3 class="text-lg text-gray-900 font-medium pb-2">
        Basic
       </h3>
       <div class="text-gray-700 text-2sm">
        Essential features for startups individuals
       </div>
       <div class="py-4">
        <h4 class="text-2xl text-gray-900 font-semibold leading-none">
         Free
        </h4>
       </div>
       <div>
        <button class="btn btn-light btn-sm flex justify-center w-full">
         Switch to Team
        </button>
       </div>
      </td>
      <td class="!border-b-0 table-border-s table-border-t !p-5 !pt-7.5">
       <h3 class="text-lg text-gray-900 font-medium pb-2">
        Pro
       </h3>
       <div class="text-gray-700 text-2sm">
        Advanced tools for growing businesses
       </div>
       <div class="py-4">
        <div class="flex items-end gap-1.5" data-plan-type="pro">
         <div class="text-2xl text-gray-900 font-semibold leading-none" data-plan-price-annual="$79" data-plan-price-regular="$99">
          $99
         </div>
         <div class="text-gray-700 text-2xs" data-plan-payment-annual=">annual" data-plan-payment-regular=">per month">
          per month
         </div>
        </div>
       </div>
       <div>
        <button class="btn btn-primary btn-sm text-center flex justify-center w-full">
         Upgrade
        </button>
       </div>
      </td>
      <td class="!border-b-0 table-border-s table-border-t !p-5 !pt-7.5">
       <h3 class="text-lg text-gray-900 font-medium pb-2">
        Premium
       </h3>
       <div class="text-gray-700 text-2sm">
        Comprehensive suite for large-scale operations
       </div>
       <div class="py-4">
        <div class="flex items-end gap-1.5" data-plan-type="premium">
         <div class="text-2xl text-gray-900 font-semibold leading-none" data-plan-price-annual="$179" data-plan-price-regular="$199">
          $199
         </div>
         <div class="text-gray-700 text-2xs" data-plan-payment-annual=">annual" data-plan-payment-regular=">per month">
          per month
         </div>
        </div>
       </div>
       <div>
        <button class="btn btn-primary btn-sm text-center flex justify-center w-full">
         Upgrade
        </button>
       </div>
      </td>
      <td class="!border-b-0 table-border-s table-border-t card-rounded-te !p-5 !pt-7.5">
       <h3 class="text-lg text-gray-900 font-medium pb-2">
        Enterprise
       </h3>
       <div class="text-gray-700 text-2sm">
        Tailored solutions for enterprise needs
       </div>
       <div class="py-4">
        <div class="flex items-end gap-1.5" data-plan-type="enterprise">
         <div class="text-2xl text-gray-900 font-semibold leading-none" data-plan-price-annual="$1,079" data-plan-price-regular="$1,299">
          $1,299
         </div>
         <div class="text-gray-700 text-2xs" data-plan-payment-annual=">annual" data-plan-payment-regular=">per month">
          per month
         </div>
        </div>
       </div>
       <div>
        <button class="btn btn-primary btn-sm text-center flex justify-center w-full">
         Upgrade
        </button>
       </div>
      </td>
     </tr>
     <tr>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-900 text-2sm leading-none font-medium">
        User Accounts
       </div>
      </td>
      <td class="table-border-s bg-light-active dark:bg-coal-100 !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Up to 5
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Up to 20
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Up to 50
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Unlimited
       </div>
      </td>
     </tr>
     <tr>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-900 text-2sm leading-none font-medium">
        Data Storage
       </div>
      </td>
      <td class="table-border-s bg-light-active dark:bg-coal-100 !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        10 GB
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        50 GB
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        200 GB
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Custom
       </div>
      </td>
     </tr>
     <tr>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-900 text-2sm leading-none font-medium">
        CAPI Calls
       </div>
      </td>
      <td class="table-border-s bg-light-active dark:bg-coal-100 !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        1,000/month
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        10,000/month
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        50,000/month
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Unlimited
       </div>
      </td>
     </tr>
     <tr>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-900 text-2sm leading-none font-medium">
        Support
       </div>
      </td>
      <td class="table-border-s bg-light-active dark:bg-coal-100 !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Email
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Email + Chat
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Priority
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        24/7 Live Support
       </div>
      </td>
     </tr>
     <tr>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-900 text-2sm leading-none font-medium">
        Data Backup
       </div>
      </td>
      <td class="table-border-s bg-light-active dark:bg-coal-100 !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Weekly
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Daily
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Hourly
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Real-time
       </div>
      </td>
     </tr>
     <tr>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-900 text-2sm leading-none font-medium">
        Analytics Tools
       </div>
      </td>
      <td class="table-border-s bg-light-active dark:bg-coal-100 !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Basic
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Advanced
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Comprehensive
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Custom
       </div>
      </td>
     </tr>
     <tr>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-900 text-2sm leading-none font-medium">
        Integration Options
       </div>
      </td>
      <td class="table-border-s bg-light-active dark:bg-coal-100 !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Limited
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Standard
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Extended
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        Full Suite
       </div>
      </td>
     </tr>
     <tr>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-900 text-2sm leading-none font-medium">
        Uptime Guarantee
       </div>
      </td>
      <td class="table-border-s bg-light-active dark:bg-coal-100 !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        99%
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        99.9%
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        99.99%
       </div>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-800 text-2sm">
        99.999%
       </div>
      </td>
     </tr>
     <tr>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-900 text-2sm leading-none font-medium">
        Custom Reports
       </div>
      </td>
      <td class="table-border-s bg-light-active dark:bg-coal-100 !px-5 !py-3.5">
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <i class="ki-filled ki-check text-success text-lg">
       </i>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <i class="ki-filled ki-check text-success text-lg">
       </i>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <i class="ki-filled ki-check text-success text-lg">
       </i>
      </td>
     </tr>
     <tr>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-900 text-2sm leading-none font-medium">
        Mobile Access
       </div>
      </td>
      <td class="table-border-s bg-light-active dark:bg-coal-100 !px-5 !py-3.5">
      </td>
      <td class="table-border-s !px-5 !py-3.5">
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <i class="ki-filled ki-check text-success text-lg">
       </i>
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <i class="ki-filled ki-check text-success text-lg">
       </i>
      </td>
     </tr>
     <tr>
      <td class="table-border-s !px-5 !py-3.5">
       <div class="text-gray-900 text-2sm leading-none font-medium">
        Custom Branding
       </div>
      </td>
      <td class="table-border-s bg-light-active dark:bg-coal-100 !px-5 !py-3.5">
      </td>
      <td class="table-border-s !px-5 !py-3.5">
      </td>
      <td class="table-border-s !px-5 !py-3.5">
      </td>
      <td class="table-border-s !px-5 !py-3.5">
       <i class="ki-filled ki-check text-success text-lg">
       </i>
      </td>
     </tr>
    </tbody></table>
   </div>

  </div>
 </div>
